{% do view.registerCssFile("/assets/css/main.css") %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">

<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Muli:300,600,600i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/afg7anz.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://kit.fontawesome.com/5bdd2455c6.js" crossorigin="anonymous"></script>
	
	{% endblock %}
</head>

<body class="flex flex-col bg-gray-100">
	{% block body %}{% endblock %}
</body>

</html>
