{% block main %}
  {% set countryName = entry.title %}
  {% set allWinesInCountry = craft.entries({
  section: 'wines',
  relatedTo: [
  'and',
  { targetElement: craft.entries().section('countries').title(countryName) }
  ]
  }) %}
  {% set producerEntriesRelatedToCountry = craft.entries().section('producers').relatedTo(allWinesInCountry).all() %}


  {% for entry in producerEntriesRelatedToCountry %}
    {% set producerWines = allWinesInCountry.relatedTo(entry) %}
    {% set regions = craft.tags().group('regions').relatedTo(producerWines) %}
    {% set subRegions = craft.tags().group('subRegions').relatedTo(producerWines) %}
    {% do entry.setFieldValue('regionTag', regions) %}
    {% do entry.setFieldValue('subRegionTag', subRegions) %}
    {% do craft.app.getElements().saveElement(entry) %}
  {% endfor %}



{% set allWinesInCountryEntries = craft.entries({
section: 'wines',
relatedTo: [
'and',
{ targetElement: craft.entries().section('countries').title(countryName) }
]
}).all() %}

<section id="country"  class="w-screen max-w-5xl min-h-screen flex flex-col self-center p-4 md:p-8 lg:p-16 bg-gray-800">
  {% if entry.heroImage|length %}
  {% set backgroundImage=entry.heroImage.one() %}
  <div id="country-intro" class="w-screen h-64" style="background: linear-gradient(
      rgba(44, 55, 71, .5),
      rgba(44, 55, 71, .5)
    ), url('{{ backgroundImage.getUrl }}') center; background-size:cover;">
    <h1 id="countryName" class="w-full mb-4 text-right text-5xl font-muli font-black uppercase text-riseoverrunwine-blue">{{ countryName }}</h1>
    </div>
  {% else %}
  <h1 id="countryName" class="w-full mb-4 text-right text-5xl font-muli font-black uppercase text-riseoverrunwine-blue">{{ countryName }}</h1>
  {% endif %}
  <section id="producersWtihNoRegion" class="flex flex-wrap justify-start w-full mb-20">
      {% for entry in producerEntriesRelatedToCountry %}
        {% set producerName = entry.title %}
        {% set producerDescription = entry.producerDescription|nl2br %}
        {% set producerWines = craft.entries({
        section: 'wines',
        subRegionTag: ':empty:',
        regionTag: ':empty:',
        relatedTo: [
        'and',
        { targetElement: craft.entries().section('producers').title(producerName) },
        { targetElement: craft.entries().section('countries').title(countryName) }
        ]
        }) %}
        {% if producerWines is empty %}
        {% else %}
        <div id="producersWithNoRegionBlock" class="w-full lg:w-1/2">
          {% include "_partials/blocks/producerBlock" %}
          {% block producer %}{% endblock %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
    <section id="regions" class="w-full flex flex-wrap">
      {% set regions = craft.tags().group('regions').relatedTo(allWinesInCountryEntries) %}
      {% for tag in regions.all() %}
        {% set regionName = tag %}
        <h2 id="regionName" class="w-full self-end text-3xl text-left text-gray-200 font-muli font-medium uppercase rounded-b-none border-b border-gray-200 mb-8">{{ regionName.title }}</h2>
        <div id="region-content" class="flex flex-col w-full">
        {% set producerEntriesRelatedToRegion = craft.entries().section('producers').relatedTo(regionName).all() %}
        <div id="producers-with-no-subregion" class="flex flex-wrap justify-start w-full mb-20">
        {% for entry in producerEntriesRelatedToRegion %}
          {% set producerName = entry.title %}
          {% set producerDescription = entry.producerDescription|nl2br %}
          {% set producerWines = craft.entries({
          section: 'wines',
          subRegionTag: ':empty:',
          relatedTo: [
          'and',
          { targetElement: regionName },
          { targetElement: craft.entries().section('producers').title(producerName) }
          ]
          }) %}

          {% if producerWines is empty %}
          {% else %}
<div id="producerWrapper" class="w-full lg:w-1/2">
            {% include "_partials/blocks/producerBlock" %}
            {{ block('producer') }}
</div>
          {% endif %}

        {% endfor %}
        </div>
<div id="producers-with-subregion" class="flex flex-wrap justify-start w-full mb-20">
        {% set winesBySubRegions = craft.entries({
        section: 'wines',
        subRegionTag: ':notempty:',
        relatedTo: [
        'and',
        { targetElement: regionName },
        { targetElement: craft.entries().section('countries').title(countryName) }
        ]
        }) %}


        {% set subRegions = craft.tags().group('subRegions').relatedTo(winesBySubRegions) %}
        {% for tag in subRegions.all() %}
        {% set subRegionName = tag %}
        <section id="subRegion" class="flex flex-wrap self-start justify-start w-full lg:w-1/2">
          <div class="p-4 w-full">
          <h3 id="subRegionName" class="w-full self-end text-lg text-left text-gray-200 font-muli font-bold uppercase border-b border-gray-500 mb-4 mt-8">{{ subRegionName.title }}</h3>
          </div>
          {% set producerEntriesRelatedToSubRegion = craft.entries().section('producers').relatedTo(subRegionName).all() %}
          {% for entry in producerEntriesRelatedToSubRegion %}
            {% set producerName = entry.title %}
            {% set producerDescription = entry.producerDescription %}
            {% set producerWines = craft.entries({
            section: 'wines',
            subRegionTag: ':notempty:',
            relatedTo: [
            'and',
            { targetElement: regionName },
            { targetElement: subRegionName },
            { targetElement: craft.entries().section('producers').title(producerName) }
            ]
            }) %}

            {% if producerWines is empty %}
            {% else %}
              {% include "_partials/blocks/producerBlock" %}
              {{ block('producer') }}
            {% endif %}
          {% endfor %}
        </section>
        {% endfor %}
        </div>
        </div>
      {% endfor %}
    </section>


  </section>
{% endblock %}
