{% block main %}
  {% set countryName = entry.title %}

  {% set producerEntries = craft.entries().section('producers').all() %}

  {% set allWinesInCountry = craft.entries({
  section: 'wines',
  relatedTo: [
  'and',
  { targetElement: craft.entries().section('countries').title(countryName) }
  ]
  }).all() %}


{% for entry in allWinesInCountry %}
  {% set region = entry.regionsTag %}
  {% set subRegion = entry.subRegionTag %}
  {% set country = entry.country %}
    {% for entry in producerEntries %}
    {% do entry.setFieldValue('regionsTag', region) %}
    {% do entry.setFieldValue('subRegionTag', subRegion) %}
    {% do entry.setFieldValue('country', country) %}
    {% do craft.app.getElements().saveElement(entry) %}
  {% endfor %}
{% endfor %}




  <section id="country" {% if entry.heroImage|length %} {% set backgroundImage=entry.heroImage.one() %} class="w-screen min-h-screen flex flex-col pt-8 pb-8" style="background: linear-gradient(
      rgba(44, 55, 71, .5),
      rgba(44, 55, 71, .5)
    ), url('{{ backgroundImage.getUrl }}') center; background-size:cover;"
    {% else %} class="w-screen min-h-screen flex flex-col pt-8 bg-gray-800" {% endif %}>
    <h1 id="countryName" class="w-full mb-16 text-left text-5xl font-muli font-black uppercase text-riseoverrunwine-blue">{{ entry.title }}</h1>

  </section>

{% endblock %}
