{% block main %}
  {% set countryName = entry.title %}

  {% set allProducers = craft.entries({
  section: 'producers',
  relatedTo: [
  'and',
  { targetElement: craft.entries().section('countries').title(countryName) }
  ]
  }) %}

  {% set allWinesInCountry = craft.entries({
  section: 'wines',
  relatedTo: [
  'and',
  { targetElement: craft.entries().section('countries').title(countryName) }
  ]
  }) %}
  <section id="country" {% if entry.heroImage|length %} {% set backgroundImage=entry.heroImage.one() %} class="w-screen min-h-screen flex flex-col pt-8 pl-16 pr-16 pb-8" style="background: linear-gradient(
      rgba(44, 55, 71, .5),
      rgba(44, 55, 71, .5)
    ), url('{{ backgroundImage.getUrl }}') center; background-size:cover;"
    {% else %} class="w-screen min-h-screen flex flex-col pt-8 pl-16 pr-16 bg-gray-800" {% endif %}>
    <h1 id="countryName" class="w-full mb-16 text-left text-5xl font-muli font-black uppercase text-riseoverrunwine-blue">{{ entry.title }}</h1>
    <section id="producersWtihNoRegion" class="flex flex-wrap w-full pt-4 pr-4 justify-center">
      {% for entry in allProducers.all() %}
        {% set producerName = entry.title %}
        {% set producerDescription = entry.producerDescription|nl2br %}
        {% set producerWines = craft.entries({
        section: 'wines',
        subRegionTag: ':empty:',
        regionsTag: ':empty:',
        relatedTo: [
        'and',
        { targetElement: craft.entries().section('producers').title(producerName) },
        { targetElement: craft.entries().section('countries').title(countryName) }
        ]
        }) %}
        {% if producerWines is empty %}
        {% else %}
        <div id="producersWithNoRegionBlock" class="w-1/2">
          {% include "_partials/blocks/producerBlock" %}
          {% block producer %}{% endblock %}
          </div>
        {% endif %}
      {% endfor %}
    </section>

    <section id="regions" class="w-full flex flex-wrap">
      {% set regions = craft.tags().group('regions').relatedTo(allWinesInCountry) %}
      {% for tag in regions.all() %}
        {% set regionName = tag %}
        <h2 id="regionName" class="w-full self-end text-3xl text-right text-gray-200 font-muli font-medium uppercase rounded-b-none border-b border-gray-200 mb-8">{{ regionName.title }}</h2>
        {% for entry in allProducers.all() %}
          {% set producerName = entry.title %}
          {% set producerDescription = entry.producerDescription|nl2br %}
          {% set producerWines = craft.entries({
          section: 'wines',
          subRegionTag: ':empty:',
          relatedTo: [
          'and',
          { targetElement: regionName },
          { targetElement: craft.entries().section('producers').title(producerName) }
          ]
          }) %}

          {% if producerWines is empty %}
          {% else %}
          <div id="producersWithRegionBlock" class="w-full">
            <div id="producerWrapper" class="w-1/2">
            {% include "_partials/blocks/producerBlock" %}
            {{ block('producer') }}
            </div>
            </div>
          {% endif %}
        {% endfor %}

        {% set winesBySubRegions = craft.entries({
        section: 'wines',
        subRegionTag: ':notempty:',
        relatedTo: [
        'and',
        { targetElement: regionName },
        { targetElement: craft.entries().section('countries').title(countryName) }
        ]
        }) %}


        {% set subRegions = craft.tags().group('subRegions').relatedTo(winesBySubRegions) %}
        {% for tag in subRegions.all() %}
        {% set subRegionName = tag %}
        <section id="subRegion" class="flex flex-wrap w-1/2 p-4">
          <h3 id="subRegionName" class="w-full self-end text-lg text-right text-gray-200 font-muli font-bold uppercase border-b border-gray-500">{{ subRegionName.title }}</h3>
          {% for entry in allProducers.all() %}
            {% set producerName = entry.title %}
            {% set producerDescription = entry.producerDescription %}
            {% set producerWines = craft.entries({
            section: 'wines',
            subRegionTag: ':notempty:',
            relatedTo: [
            'and',
            { targetElement: regionName },
            { targetElement: subRegionName },
            { targetElement: craft.entries().section('producers').title(producerName) }
            ]
            }) %}

            {% if producerWines is empty %}
            {% else %}
              {% include "_partials/blocks/producerBlock" %}
              {{ block('producer') }}
            {% endif %}
          {% endfor %}
        </section>
        {% endfor %}
      {% endfor %}
    </section>
  </section>

{% endblock %}
