{% block main %}
  {% set countryName = entry.title %}
  {% set allRegionsQuery = craft.tags().group('regions') %}
  {% set allSubRegionsQuery = craft.tags().group('subRegions') %}
  {% set allWinesQuery = craft.entries().section('wines') %}
  {% set allProducersQuery = craft.entries().section('producers') %}

  {% set allProducersInCountry = allProducersQuery.relatedTo(craft.entries().section('countries').title(countryName)) %}
  {% set allWinesInCountry = allWinesQuery.relatedTo(craft.entries().section('countries').title(countryName)) %}
  <section id="country" {% if entry.heroImage|length %} {% set backgroundImage=entry.heroImage.one() %} class="w-screen min-h-screen flex flex-col pt-8 pl-16 pr-16 pb-8" style="background: linear-gradient(
      rgba(44, 55, 71, .5),
      rgba(44, 55, 71, .5)
    ), url('{{ backgroundImage.getUrl }}') center; background-size:cover;"
    {% else %} class="w-screen min-h-screen flex flex-col pt-8 pl-16 pr-16 bg-gray-800" {% endif %}>
    <h1 id="countryName" class="w-full mb-16 text-left text-5xl font-muli font-black uppercase text-riseoverrunwine-blue">{{ entry.title }}</h1>
    <section id="producersWtihNoRegion" class="flex flex-wrap w-full pt-4 pr-4">
      {% for entry in allProducersInCountry.all() %}
      {% set producerName = entry.title %}
      {% set producerWines = allWinesQuery.regionsTag(':empty:').relatedTo(allProducersInCountry.title(producerName)) %}
        {% if producerWines is empty %}
        {% else %}
          {% include "_partials/blocks/producerBlock" %}
          {% block producer %}{% endblock %}
        {% endif %}
      {% endfor %}
    </section>

    <section id="regions" class="">
      {% set regions = allRegionsQuery.relatedTo(allWinesInCountry).all() %}
      {% for tag in regions.all() %}
        {% set regionName = tag %}
        <h2 id="regionName" class="w-full self-end text-3xl text-right text-gray-200 font-muli font-medium uppercase rounded-b-none border-b border-gray-200 mb-8">{{ regionName.title }}</h2>
        {% for entry in allProducersInCountry.relatedTo(regionName).all() %}
          {% set producerName = entry.title %}
          {% set producerWines = allWinesQuery.subRegionTag(':empty:').relatedTo(allProducersInCountry.title(producerName)).relatedTo(regionName) %}
          {% if producerWines is empty %}
          {% else %}
            {% include "_partials/blocks/producerBlock" %}
            {{ block('producer') }}
          {% endif %}
        {% endfor %}
        {% set subRegions = allSubRegionsQuery.relatedTo(regionName) %}
        {% for tag in subRegions.all() %}
        {{ tag.title }}
        {% endfor %}






      {% endfor %}
    </section>
  </section>
{% endblock %}
