{% block employeesList %}
{% for block in entry.employeeBlock.all() %}
{% set backgroundImage = block.employeeImage.one() %}
<div id="employeeBlock" class="flex flex-row w-full mb-12">
  <div id="employeeImage" class="flex flex-col justify-center w-32 h-32 xl:w-40 xl:h-40 ml-2 mr-2 bg-riseoverrunwine-blue rounded-full border-2 border-gray-500 bg-center bg-cover" style="background-image: url('{{ backgroundImage.getUrl }}')">
  </div>
  <div id="employeeBio" class="w-2/3 pl-4 pt-4">
    <h1 id="employeeName" class="text-lg text-left font-muli font-black uppercase text-gray-100">{{ block.employeeName }}</h1>
    <h4 class="text-md text-left font-light font-zilla text-gray-100">
      {{ block.employeeBio }}
    </h4>
  </div>
</div>
{% endfor %}
{% endblock %}
