{% block footer %}
<div id="footerContainer" class="flex flex-row-reverse md:flex-row justify-between items-center w-screen p-4 md:pl-8 md:pr-8 lg:pl-16 lg:pr-16 h-32 md:h-48 border-t-2 border-gray-100 bg-gray-800">
  <img src="/uploads/images/logoNoText.png" class="w-16 h-16 pl-1 xl:w-32 xl:h-32" />
  <div class="contactInfoBlock">
    <h4 class="text-right tracking-wider text-base text-left font-muli font-light uppercase text-riseoverrunwine-blue text-sm md:text-lg">
      <a href="mailto: INFO@RISEOVERRUNWINE.COM" class="hover:text-gray-100">INFO@RISEOVERRUNWINE.COM</a><br /><a href="tel: +18281340892" class="hover:text-gray-100">828.134.0892</a><br /><a href="https://www.instagram.com/riseoverrunwine/" class="hover:text-gray-100">@RISEOVERRUNWINE</a>
    </h4>
  </div>
</div>
{% endblock %}
