{% block header %}
<div id ="header" class="flex flex-row justify-between items-end w-screen h-32 pl-4 pr-4 md:pl-8 md:pr-8 lg:pl-16 lg:pr-16 pb-8 bg-gray-100 text-gray-800">
<h1 id="siteName" class="text-2xl sm:text-4xl md:text-5xl font-normal font-muli leading-none"><a href="{{ siteUrl }}">RISE OVER RUN</a></h1>
<nav id="navigation" class="">
  <div id="navigationList" class="h-full text-gray-800 font-light font-kepler text-2xl text-right bg-gray-100">
    <ul class="flex flex-row">
      <li id="navLink1" class="px-4">
        <a href="/#our-wines" class="hover:text-gray-500">
          <h2>Our Wines</h2>
        </a>
      </li>
      <li id="navLink2" class="px-4">
        <a href="/#about-us" class="hover:text-gray-500">
          <h2>About Us</h2>
        </a>
      </li>
      <li id="navLink3" class="px-4">
        <a href="/#get-in-touch" class="hover:text-gray-500">
          <h2>Get In Touch</h2>
        </a>
      </li>
    </ul>
  </div>
</nav>
</div>
{% endblock %}
