{% block homePageMain %}
<section id="hero">
{% set backgroundImage = entry.heroImage.one() %}
<div id="hero" class="flex flex-col mx-auto w-screen bg-bottom bg-cover" style="height: calc(100vh - 8rem); background-image: url('{{ backgroundImage.getUrl }}');">
  <div id="intro-container" class="flex flex-row pl-4 md:pl-8 lg:pl-16 pr-4 h-24" style="background: rgb(201,234,243);
background: linear-gradient(180deg, rgba(201,234,243,1) 45%, rgba(201,234,243,0) 100%);">
  <h3 class="w-full lg:w-1/3 text-2xl font-medium text-left font-muli text-gray-800 rounded-b-none border-t-2 border-gray-500 mb-2">
    {{ entry.heroText }}
  </h3>
  </div>
</div>
</section>
<section id="ourWines">
  {% include "_partials/blocks/ourWinesLayout" %}
  {% block ourWines %}{% endblock %}
</section>
<section id="about">
  {% include "_partials/blocks/aboutLayout" %}
  {% block about %}{% endblock %}
</section>
<section id="contact">
  {% include "_partials/blocks/contactLayout" %}
  {% block contact %}{% endblock %}
</section>
{% endblock %}
