{% block navigation %}
<div id="navigationList" class="h-screen p-16 text-gray-800 font-light font-kepler text-3xl text-right">
  <ul>
    <li id="navLink1">
      <a href="/#our-wines" class="hover:text-white">
        <h2>Our Wines</h2>
      </a>
    </li>
    <li id="navLink2">
      <a href="/#about-us" class="hover:text-white">
        <h2>About Us</h2>
      </a>
    </li>
    <li id="navLink3">
      <a href="/#get-in-touch" class="hover:text-white">
        <h2>Get In Touch</h2>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
