{% block ourWines %}

{% set allProducerEntries = craft.entries({
section: 'producers',
country: ':empty:'
}).all() %}

{% set allWines = craft.entries().section('wines') %}

{% for entry in allProducerEntries %}
  {% set producerWines = allWines.relatedTo(entry) %}
  {% set country = craft.entries.section('countries').relatedTo(producerWines) %}
  {% do entry.setFieldValue('country', country) %}
  {% do craft.app.getElements().saveElement(entry) %}
{% endfor %}


<div id="ourWinesContainer" class="flex flex-col p-4 md:p-8 lg:p-16 bg-gray-100">
  <h2 class="w-full md:w-1/2 text-right text-4xl font-muli font-normal uppercase text-gray-800 rounded-b-none border-b-2 border-riseoverrunwine-blue self-end">
    <a id="our-wines">{{ entry.ourWinesSectionHeading }}</a>
  </h2>
  <div id="ourWines" class="flex lg:flex-row flex-col-reverse">
      <div id="countriesList" class="flex flex-wrap justify-center lg:w-1/2 w-full pt-8 mr-2">
        {% include "_partials/blocks/countriesList" %}
        {% block countriesList %}{% endblock %}
      </div>
      <div id="aboutCountries" class="lg:w-1/2 w-full pt-8 ml-2">
        <h4 class="text-xl text-left md:text-right px-4 md:px-0 font-light font-kepler tracking-wider text-gray-800">
          {{ entry.ourWinesSectionIntro|nl2br }}
        </h4>
        <div id="announcementContainer" class="flex flex-col md:flex-row">
          <h4 id="" class="text-xl text-left md:text-right px-4 md:px-0 font-normal font-kepler tracking-wider text-gray-800">
            {{ entry.announcementText|nl2br }}
          </h4>
          {% if entry.announcementImage|length %}
          {% set image = entry.announcementImage.one() %}
          <div class="self-start md:self-end w-1/2 rounded-md border-2 border-gray-800 text-gray-100 p-4" style="background: url('{{ image.getUrl }}') center; background-size:contain;">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
