{% block producer %}
<section id="producer" class="flex flex-col w-full p-4 mb-2">
  <div id="producerImageAndBio" class="w-full">
    {% if entry.producerImage|length %}
    {% set backgroundImage = entry.producerImage.one() %}
    <div class="float-left inline-flex flex-col flex-shrink-0 justify-center w-32 h-32 ml-2 mr-8 mb-2 bg-riseoverrunwine-blue rounded-full border-2 border-riseoverrunwine-blue text-gray-100" style="background: linear-gradient(
      rgba(44, 55, 71, .5),
      rgba(44, 55, 71, .5)
    ), url('{{ backgroundImage.getUrl }}') center; background-size:cover; shape-outside:circle();">
    </div>
    {% endif %}
  <div id="producerDescription" class="inline text-base font-light text-left font-zilla text-gray-200 leading-tight">
    <h4 id="producerName" class="mt-4 text-base text-center font-muli font-bold uppercase">
    {{ producerName }}
    </h4>
  <p class="">{{ producerDescription|nl2br }}</p>
  </div>
  </div>

  <div id="producerWines" class="w-full mt-4">
    {% for entry in producerWines.all() %}
    {% set wineType = entry.wineType %}
    {% set wineStyle = entry.wineStyle %}
    {% set wineName = entry.wineName %}
    {% set grapeName = entry.grape %}
    {% set vintage = ' • ' ~ entry.vintage %}
    <div id="wineName" class="flex flex-row text-base font-medium font-zilla text-gray-200 mb-3 leading-tight">
      {% if wineType.value == 'red' %}
      <i class="fas fa-circle text-red-700"></i>
      {% endif %}
      {% if wineType.value == 'white' %}
      <i class="fas fa-circle text-yellow-200"></i>
      {% endif %}
      {% if wineType.value == 'rose' %}
      <i class="fas fa-circle text-red-200"></i>
      {% endif %}
      {% if wineType.value == 'rosé' %}
      <i class="fas fa-circle text-red-200"></i>
      {% endif %}
      {% if wineType.value == 'orange' %}
      <i class="fas fa-circle text-orange-500"></i>
      {% endif %}
      {% if wineType.value == 'cider' %}
      <i class="fas fa-apple-alt text-green-400"></i>
      {% endif %}
      <h5 id="wineNameText" class="ml-1">
      {{ grapeName }}{{ vintage }}<br /><span class="italic">{{ wineName }}</span><!--{% if wineStyle.value == 'sparkling' %} • <i class="fas fa-glass-cheers"></i>{% endif %}-->
      </h5>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
